@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
html {
  font-size: 12px;
}

@media screen and (min-width: 640px) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 18px;
  }
} */

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}


/* .cutCorner {
  position: relative;
  background: black;
  border: 1px solid transparent;
  display: inline-block;
  width: 70px;
  height: 70px;
}

.cutCorner img {
  display: block;
}

.cutCorner:before {
  position: absolute;
  left: -10px;
  top: 0px;
  content: '';
  border-top: 70px solid silver;
  border-left: 70px solid transparent;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  filter: blur(20px);

}

.cutCorner:after {
  position: absolute;
  left: -2px;
  top: -2px;
  content: '';
  height: 70px;
  width: 70px;
  border-top: 70px solid black;
  border-left: 70px solid transparent;
  background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
   filter: blur(20px);
} */



body {
  /* display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; */
  /* padding: 1rem; */
  background-color: #0b090a;
}

.box-container {
  /* max-width: 100%; */
  height: 80px;
  width: 100%;
  /* padding: 4px; */
  position: relative;
  z-index: 1;
  /* background-color: #4158D0; */
  /* background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);  */
  /* margin-right:25px; */
  /* filter: brightness(120%); */
}

.box-container:after {
  content: '';
  top: 0;
  right: 0;
  left: 0;
  bottom: 30px;
  position: absolute;
  background: black;
  /* background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);  */
  /* margin-right:25px; */
  /* filter: brightness(120%); */
}

.box-container:before {
  z-index: 0;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 25px;
  background-image: linear-gradient(43deg, #9BFE63 0%, #59FEA6 46%, #0BFEF3 100%);
  filter: blur(20px);
}

/* .gradient {
  background-color: #0b090a;
  padding: 30px;
  color: white; 
  font-size: 35px;
  font-family: arial;
  text-align: center;
}

.gradient:before {
  content: "";
    position: absolute;
  top: 0;
  right: 0;
  border-top: 10px solid #0b090a
} */
.box-container__border {
  position: absolute;
  bottom: 24px;
  left: 0;
  right: 0;
  height: 8px;
  background: linear-gradient(0, #0b090a calc(50% - 8px), #9BFE63, #0b090a calc(50% + 8px));
}

.box-container__border:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-top: 10px solid #0b090a
}

.box-container-1 {
  z-index: 1;
  background: linear-gradient(0, transparent calc(50% - 8px), #9BFE63, transparent calc(50% + 8px));
  height: 80px;
}

.box-container-2 {
  z-index: 1;
  background: linear-gradient(45deg, transparent calc(50% - 8px), #9BFE63, transparent calc(50% + 8px));
  height: 80px;
}

.box-container-3 {
  z-index: 1;
  background: linear-gradient(-45deg, transparent calc(50% - 8px), #9BFE63, transparent calc(50% + 8px));
  height: 80px;
}
.box-container-4 {
  z-index: 1;
  background: linear-gradient(0, transparent calc(50% - 8px), #9BFE63, transparent calc(50% + 8px));
  height: 80px;
}

/* 
.box-container-2 {
  position: relative;
  background: black;
  border: 1px solid transparent;
  display: inline-block;
  width: 70px;
  height: 70px;
}


.box-container-2:before {
  position: absolute;
  left: -10px;
  top: 0px;
  content: '';
  border-top: 70px solid silver;
  border-left: 70px solid transparent;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  filter: blur(20px);

}

.box-container-2:after {
  position: absolute;
  left: -2px;
  top: -2px;
  content: '';
  height: 70px;
  width: 70px;
  border-top: 70px solid black;
  border-left: 70px solid transparent;
  background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  filter: blur(20px);
} */